@model SchoolProject.Models.Student
@{
    ViewBag.Title = "Show";
}


<div id="containershow">
    <nav>
        <a class="navlink" href="/Student/List">Back To Studentes</a>
    </nav>

    <h2>@Model.studentFname @Model.studentLname </h2>

    <p> Student Number: @Model.studentNumber</p>
    <p> Enroll Date: @Model.enrollDate</p>

    <div id="containerlist">

        <h3> Register New Course</h3>
        <form class="add-class-container" method="POST" action="/Student/AddClassToStudent/@Model.studentId">
            <label for="selected-course">Select Course</label>
            <select name="selectedCourse" id="selectedCourse">
                @foreach (var classObjAvailable in @Model.availableClasses)
                {
                    <option value="@classObjAvailable.classId">@classObjAvailable.className</option>
                }
            </select>
            <input id="add-button" type="submit" value="Register" />
        </form>
        <h3>List of Courses</h3>
        @foreach (var classObj in @Model.classes)
        {
            <div class="listitem row classitem">
                <div class="col-md-12"><a href="/Class/Show/@classObj.classId">@classObj.className</a></div>
                <form method="POST" action="/Student/DeleteClassFromStudent/@Model.studentId,@classObj.classId">
                    <div>
                        <input id="submit-button" type="submit" value="Remove" />
                    </div>
                </form>
            </div>
        }



    </div>
</div>
