@model SchoolProject.Models.Student
@{
    ViewBag.Title = "Show";
}

<a student="navlink" href="/Student/List">Back To Studentes</a>
<div id="containershow">
    <h2>@Model.studentFname @Model.studentLname </h2>

    <p> Student Number: @Model.studentNumber</p>
    <p> Enroll Date: @Model.enrollDate</p>

    <div id="containerlist">
        <h3>List of Courses</h3>
        @foreach (var classObj in @Model.classes)
        {
            <div class="listitem row classitem">
                <div class="col-md-12"><a href="/Class/Show/@classObj.classId">@classObj.className</a></div>
                <form method="POST" action="/Student/DeleteClassFromStudent/@Model.studentId,@classObj.classId">
                    <div>
                        <input id="submit-button" type="submit" value="Remove" />
                    </div>
                </form>
            </div>
        }
    </div>
</div>
